<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.1/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
>

    <php>
        <var name="mysql_db" value="unit_test_db"/>
        <var name="mysql_host" value="localhost"/>
        <var name="mysql_user" value="root"/>
        <var name="mysql_pass" value="root"/>
        <var name="mysql_test_table" value="test_table"/>
    </php>

    <testsuites>
        <testsuite name="alltests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
